{% extends "base.html" %}
{% block title %}SQL{% endblock %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
			<form method="POST" action="query" accept-charset="UTF-8" role="form" id="loginform" class="form-signin">
				<fieldset>
			  		<h2>SQL Query</h2>

			  		<hr class="colorgraph">

				    <textarea class="form-control" placeholder="query" name="query" id="query">{{ session['query'] }}</textarea>

				    <hr class="colorgraph">

				    <input class="btn btn-lg" type="submit" value="Submit">
			  	</fieldset>
			</form>
		</div>
	</div>
{% endblock %}

{% block scripts %}
	<script>
	$("#query").keypress(function (event) {
	    var keyCode = (event.which ? event.which : event.keyCode);          
	    
	    if (keyCode === 10 || keyCode == 13 && event.metaKey) {
	        $("#loginform").submit();
	        return false;
	    }

	    return true;
	});
	$("#query").focus();
	</script>
{% endblock %}