{% extends "base.html" %}
{% block title %}Results{% endblock %}
{% block content %}
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-body">
			<p><strong>{{ results|count }}</strong> result{{ results|count|pluralize }} for query (maximum {{ session['maxrows'] }}):</p>
			<p><i>{{ query }}</i></p>
		</div>
	</div>
	<div class="panel panel-default" style="overflow: auto">
		<!-- Table -->
		<table class="table table-condensed">
			<tr>
				{% for header in headers %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
			{% for row in results %}
			<tr>
				{% for col in row %}
				<td>{% if col %}{{ col }}{% endif %}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}