{% extends "base.html" %}
{% block title %}Reports{% endblock %}
{% block content %}
	{% if confirm_required %}
	<div class="alert alert-danger fade in">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4>Confirmation required</h4>
      <p>You are about to delete {{ request.args['del'] }}.</p>
      <p>
        <button type="button" class="btn btn-danger" id="confirmButton">Do it!</button>
      </p>
    </div>
    {% endif %}
	<div class="panel panel-default">
		<!-- Table -->
		<table class="table table-hover">
			<tr>
				<th>ID</th>
				<th>Description</th>
				<th>Scope</th>
				<th>Owner</th>
				<th></th>
				<th></th>
			</tr>
			{% for row in reports %}
			<tr class='clickableRow' data-url="{{ url_for('query', run=row.0) }}">
				{% for col in row %}
				<td>{{ col }}</td>
				{% endfor %}
				<td>
					<a href="{{ url_for('sqleditor', edit=row.0) }}" data-toggle="tooltip" class="tooltipLink" data-original-title="Edit">
						<span class="glyphicon glyphicon-pencil"></span>
					</a>
				</td>
				<td>
					<a href="{{ url_for('reports', del=row.0) }}" data-toggle="tooltip" class="tooltipLink" data-original-title="Delete">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<p class="pull-right">
		Max Rows: <input type="text" name="maxrows" id="maxrows" value="{{ session['maxrows'] }}" />
	</p>
{% endblock %}

{% block scripts %}
	<script>
	$(".clickableRow").click(function() {
        window.document.location = $(this).data('url') + '&maxrows=' + $("#maxrows").val();
    });
    $("a.tooltipLink").tooltip();
	{% if confirm_required %}
	$("#confirmButton").click(function() {
		window.document.location = "{{ url_for('reports', del=request.args['del']) }}" + '&confirm';
	});
	{% endif %}
	</script>
{% endblock %}