# -*- coding: utf-8 -*-
# JDBC driver class - in case it changes in the future
DRIVER = 'sanchez.jdbc.driver.ScDriver'

# static connections
# NAME: MTM_IP:MTM_PORT

CONNECTIONS = {
	'PIP': '192.168.207.160:61135',
}

# allow connection management - security risk!
MANUAL_CONNECTION = True

# JDBC URL
URL = 'protocol=jdbc:sanchez/database=%s:%s:SCA$IBS'

# SCOPE values for WEBSQLQRY
SCOPE_PRIVATE = 'Private'
SCOPE_PUBLIC = 'Public'

DEFAULT_MAXROWS = 100

# Flask app.secret_key
SECRET_KEY = '????????????????????'

# Used only by jywebrep_test.py

TESTUID = '1'
TESTPWD = 'XXX'